@import "tailwindcss";

@theme {
  --color-dark: #0a0a0a;
  --color-primary: #fbbf24;
}

:root {
  background-color: #2d2d2d;
  color: white;
  overflow: hidden; /* Mencegah scroll global jika konten pas di layar */
}

/* Animasi kursor ketik */
.Typewriter__cursor {
  color: #fbbf24;
  font-weight: thin;
}

/* Glassmorphism untuk Nav Mobile */
.nav-glass {
  background: rgba(18, 18, 18, 0.8);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border: 1px solid rgba(66, 66, 66, 0.409);
  border-radius: 30px 30px 0 0; /* Melengkung di atas saja sesuai gambar */
}