@import "tailwindcss";

@theme {
  --color-dark: #121212;
  --color-primary: #fbbf24;
}

:root {
  background-color: #121212;
  color: white;
  /* overflow: hidden; */ /* Buka ini jika kamu ingin benar-benar tidak bisa scroll di semua device */
}

body {
  background-color: #121212;
}

/* Animasi kursor ketik agar tipis dan elegan */
.Typewriter__cursor {
  color: #fbbf24;
  font-weight: 100;
}

/* Glassmorphism untuk Nav Mobile sesuai referensi */
.nav-glass {
  background: rgba(25, 25, 25, 0.85);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-left: 1px solid rgba(255, 255, 255, 0.1);
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 30px 30px 0 0;
}