@import "tailwindcss";

@theme {
  --color-dark: #121212;
  --color-primary: #fbbf24;
}

html, body {
  background-color: #121212;
  color: white;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
  overflow: hidden; /* Tetap kunci layar agar tidak scrolling */
}

/* Partikel Bintang Kecil */
.particle {
  position: absolute;
  background: white;
  border-radius: 50%;
  pointer-events: none;
}

/* Underline Menu Aktif */
.nav-underline {
  position: relative;
}
.nav-underline::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 10px; /* UBAH DI SINI: Ganti 2px ke 3px atau 4px agar lebih bold */
  background-color: #fbbf24;
  border-radius: 2px;
}

.nav-glass {
  background: rgba(25, 25, 25, 0.85);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 30px 30px 0 0;
}

@keyframes wave {
  0%, 100% { transform: rotate(0deg); }
  20%, 60% { transform: rotate(14deg); }
  40% { transform: rotate(-8deg); }
}

.animate-wave {
  display: inline-block;
  animation: wave 2.5s infinite;
  transform-origin: 70% 70%;
}